body {background-color: grey;
}
.centrar{
font-size:xx-large ;
color: blue;
text-decoration: underline;}
header {background-color: black;
  display: flex;
  justify-content:space-between;
}
div.1 {display: flex;
justify-content:space-around}
img.logo {width:40px;
height:40px;}
img.redimension{width:70px;
height:70px;}
h2{background-color: orange;
margin: 10px;
font-size:xx-large;
text-align: center;
color: purple;}
section{background-color: white;
  margin: 15px;
  color: red;
  display: flex;
  justify-content:space-around}
h4{text-decoration: underline;}
div.video {
  background-color: orange}
footer {background-color: black;
display: flex;
justify-content:space-between;}
iframe.1{width:30px;
height:30px;}
img.logo2{width:60px;
height:60px;}
.nombre{color: white;}
