@font-face
{font-family: "chiler";
src: url(../fuentes-letras/letrachiler.ttf)
format("truetype");
}



body {background-color: grey;
}
.centrar{font-size: 2.2rem;
  font-family:'Josefin Sans', sans-serif;
color: blue;
text-decoration: underline;}
header {background-color: black;
  display: flex;
  justify-content:space-between;
}
div.1 {display: flex;
justify-content:space-around}
img.logo {width:40px;
height:40px;}
img.redimension{width:70px;
height:70px;}
h2{display: flex;
  text-decoration: underline;
  font-family: "chiler";
  background-color: orange;
margin: 10px;
font-size:xx-large;
text-align: center;
color: purple;}
img.saganaki{width: 18vw;
  display: flex;
  justify-content: space-around;
}
h3{
  font-family: "chiler";
font-size: 1.5rem;}
section{
  background-color: white;
  margin: 15px;
  display: flex;
  justify-content:space-around;
text-decoration: underline;
text-decoration-color: green;}
h4{
  font-family: "chiler";
font-size: 1.5em;
  }
ol{
  font-family:"chiler";
font-size: 1.5rem}
div.video {
  background-color: orange}
footer {background-color: black;
display: flex;
justify-content:space-between;
display: flex;align-items: center;}
iframe.1{width:30px;
height:30px;}

div.div-con-borde {
  border: 2px solid pink;
  padding: 10px;
  color: white
}

.div-con-borde p {
  margin: 0;
}

.div-con-borde h5 {
  margin-bottom: 5px;
}
a:hover{background-color: gold}
/*aca seria para que a partir de 993 se apague oculte la etiqueta*/
@media (min-width: 993px) {
  .div-con-borde {
    display: none;
  }
}

/*aca seria para que a partir de 768 se apague el video*/
@media (min-width: 769px) {
  .video {
    display: block;
  }
}
